In [2]:
import pandas as pd
series= pd.Series(data=[23,45,67,78,90])
series

0    23
1    45
2    67
3    78
4    90
dtype: int64

In [3]:
print(series)

0    23
1    45
2    67
3    78
4    90
dtype: int64

In [4]:
series.values

array([23, 45, 67, 78, 90], dtype=int64)

In [5]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
series[3]

78

In [7]:
series[1:3]

1    45
2    67
dtype: int64

In [8]:
print(series[1:3].values)

[45 67]

In [9]:
data = pd.Series(data = [700000, 800000, 1600000, 1800000, 30000000], index = ['Swift', 'Jazz', 'Civic', 'Altis', 'Gallardo'])
print(data)

Swift         700000
Jazz          800000
Civic        1600000
Altis        1800000
Gallardo    30000000
dtype: int64

In [10]:
data = pd.Series(data = [700000, 800000, 1600000, 1800000, 30000000], index = ['Swift', 'Jazz', 'Civic', 'Altis'])  #it will show error
data

ValueError: Length of passed values is 5, index implies 4.

In [11]:
data = pd.Series(data = [700000, 800000, 1600000, 1800000, 30000000], index = ['Swift', 'Jazz', 'Civic', 'Altis', 5])
data

Swift      700000
Jazz       800000
Civic     1600000
Altis     1800000
5        30000000
dtype: int64

In [12]:
#Creating a car price series with a dictionary
car_price_dict = {'Swift':  700000,
                       'Jazz' :  800000,
                       'Civic' : 1600000,
                       'Altis' : 1800000,
                       'Gallardo': 30000000
                      }
car_price = pd.Series(car_price_dict)
# Creating the car manufacturer series with a dictionary
car_man_dict = {'Swift' : 'Maruti',
                  'Jazz'   : 'Honda',
                  'Civic'  : 'Honda',
                  'Altis'  : 'Toyota',
                   'Gallardo' : 'Lamborghini'}
car_man = pd.Series(car_man_dict)
print(car_price)
print(car_man)

Swift         700000
Jazz          800000
Civic        1600000
Altis        1800000
Gallardo    30000000
dtype: int64
Swift            Maruti
Jazz              Honda
Civic             Honda
Altis            Toyota
Gallardo    Lamborghini
dtype: object

In [13]:
cars = pd.DataFrame({'Price': car_price , 'Manufacturer' : car_man})
print(cars)

             Price Manufacturer
Swift       700000       Maruti
Jazz        800000        Honda
Civic      1600000        Honda
Altis      1800000       Toyota
Gallardo  30000000  Lamborghini

In [14]:
series= pd.Series(data=[23,45,67,78,90])
series1 = pd.DataFrame({'Price': series})
series1

   Price
0     23
1     45
2     67
3     78
4     90

In [15]:
series= pd.Series(data=[23,45,67,78,90])
series1 = pd.DataFrame(series)
series1

    0
0  23
1  45
2  67
3  78
4  90

In [16]:
#fetching details from csv file
data_csv = pd.read_csv('Iris.csv',)
data_csv

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
data_csv.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
data_csv.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [19]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [21]:
#To drop any null values
data_csv.dropna(inplace = True)
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 8.2+ KB